# Ignore directories
data/
plots/
saved_models/
model_arch/
performance/
models/__pycache__/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# exploratory notebook
exploration.ipynb